# Dependencies
node_modules
.pnpm-store/
pnpm-lock.yaml

# Environment variables
.env
.env.*
!.env.example

# Build output
dist
build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# IDE and editor files
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Docker volumes
postgres_data/ 